
/* Your CSS Code here. */
.holder {
	display: grid;
	grid-template-rows: repeat(2. 100px);
	grid-template-columns: repeat(2. 100px);
	width: 200px;
	height: 200px;
	
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #555;
	font-size: 20px;
}









